main section.user-register,
main section.user-login {
  .container {
    background: #f8f8f8;
    width: 40rem;
    min-height: 25rem;
    margin-top: 10rem;
    padding: 5rem;
    padding-top: 3rem;
    border-radius: 1rem;
  }
}
